<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>
        {% block stylesheets %}
	   <link rel="stylesheet" href={{asset("css/style.css")}}>
        {% endblock %}

    </head>
    <body>
		{% block navbarr %}
		<nav>
			<div class="logo">
				<img class="pict_nav" src={{asset("images/Logo.png")}} alt="logo">
			</div>
			<div class="container_link">
				<ul>
					<li><a class="{% if app.request.attributes.get('_route') == 'app_home'%}active{% endif %}" href={{path("app_home")}}>Accueil</a></li>
					<li><a class="{% if app.request.attributes.get('_route') == 'app_cours'%}active{% endif %}" href={{path("app_cours")}}>Cours</a></li>
					<li ><a class="{% if app.request.attributes.get('_route') == 'app_ressources'%}active{% endif %}" href={{path("app_ressources")}}>Ressources</a></li>
					<li ><a class="{% if app.request.attributes.get('_route') == 'app_contact'%}active{% endif %}" href={{path("app_contact")}}>Contact</a></li>
				</ul>
			</div>
		</nav>
		{% endblock %}
        {% block body %}{% endblock %}

	   {% block footer %}
	   <div class="footer">
		<img class="pict_nav" src={{asset("images/Logo.png")}} alt="logo">
		<p>Nous sommes ici pour répondre à vos questions et inquiétudes.</p>
		<p>info@kids-learning.fr</p>
		<p>01 23 45 67 89</p>
		<p>Formulaire de contact</p>
		<p>&copy 2023 Kids-Learning.Tous droits réservés</p>
	</div>
	   {% endblock %}
    </body>
</html>
